.icon {
  width: 22px;
  height: 22px;
  display: inline-block;
}
.icon-01 {
  background: url(/images/icons/projects_filter_icon.png) top left no-repeat;
  &:hover {
    background: url(/images/icons/projects_filter_icon.png) top left no-repeat;
  }
}
.icon-02 {
  background: url(/images/icons/projects_r_icon.png) top left no-repeat;
  &:hover {
    background: url(/images/icons/projects_r_icon.png) top left no-repeat;
  }
}
.icon-03 {
  background: url(/images/icons/projects_fullscreen_icon.png) top left no-repeat;
  &:hover {
    background: url(/images/icons/projects_fullscreen_icon_over.png) top left no-repeat;
  }
}
.icon-filter {
  background: url(/images/icons/box_filter.png) top left no-repeat;
  width: 14px;
  height: 13px;
}
.icon-columns {
  background: url(/images/icons/box_columns.png) top left no-repeat;
  width: 15px;
  height: 15px;
}
.icon-rows {
  background: url(/images/icons/box_rows.png) top left no-repeat;
  width: 16px;
  height: 15px;
}
.icon-slices {
  background: url(/images/icons/box_slices.png) top left no-repeat;
  width: 15px;
  height: 14px;
}

.subicon {
  height: 40px;
  width: 22px;
  display: inline-block;
  float: left;
}
.icon-export {
  background: url(/images/icons/spreadsheet_normal.png) left center no-repeat;
  a:hover & {
    background: url(/images/icons/spreadsheet_over.png) left center no-repeat;
  }
}

.icon-copy {
  background: url(/images/icons/copy_normal.png) left center no-repeat;
  a:hover & {
    background: url(/images/icons/copy_over.png) left center no-repeat;
  }
}

.icon-cut {
  background: url(/images/icons/cut_normal.png) left center no-repeat;
  a:hover & {
    background: url(/images/icons/cut_over.png) left center no-repeat;
  }
}

.icon-paste {
  background: url(/images/icons/paste_normal.png) left center no-repeat;
  a:hover & {
    background: url(/images/icons/paste_over.png) left center no-repeat;
  }
}

.icon-sort {
  background: url(/images/icons/sort_normal.png) left center no-repeat;
  a:hover & {
    background: url(/images/icons/sort_over.png) left center no-repeat;
  }
}

.icon-supress {
  background: url(/images/icons/supress_normal.png) left center no-repeat;
  a:hover & {
    background: url(/images/icons/supress_over.png) left center no-repeat;
  }
}
