.icon {
  width: 22px;
  height: 22px;
  display: inline-block;
}
.icon-01 {
  background: url(/images/icons/projects_filter_icon.png) top left no-repeat;
  &:hover {
    background: url(/images/icons/projects_filter_icon.png) top left no-repeat;
  }
}
.icon-02 {
  background: url(/images/icons/projects_r_icon.png) top left no-repeat;
  &:hover {
    background: url(/images/icons/projects_r_icon.png) top left no-repeat;
  }
}
.icon-03 {
  background: url(/images/icons/projects_fullscreen_icon.png) top left no-repeat;
  &:hover {
    background: url(/images/icons/projects_fullscreen_icon_over.png) top left no-repeat;
  }
}
.icon-filter {
  background: url(/images/icons/box_filter.png) top left no-repeat;
  width: 14px;
  height: 13px;
}
.icon-columns {
  background: url(/images/icons/box_columns.png) top left no-repeat;
  width: 15px;
  height: 15px;
}
.icon-rows {
  background: url(/images/icons/box_rows.png) top left no-repeat;
  width: 16px;
  height: 15px;
}
.icon-slices {
  background: url(/images/icons/box_slices.png) top left no-repeat;
  width: 15px;
  height: 14px;
}
