html, body {
  height: 100%;
  margin: 0;
}

.take-all {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.flex-rows {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.flex-cols {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.sidebar {
  background: url(../images/sidebar_panels.png) top left no-repeat $bgWhite;
  width: 250px;
}

.main-content {
  padding: 7px;
  background-color: $bgGrey;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-cell {
  width: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  &.flex-cell-full {
    width: 100%;
  }

  .bounding-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 7px;
    padding: 20px;
    background-color: $bgWhite;
    border: 1px solid $brdGrey;
    border-radius: 3px;
    -webkit-flex: 1;
    flex: 1;
  }
}

.excel-bar {
  background: url(/images/icons/spreadsheet_bar.png) top left no-repeat #f4f1f1;
  height: 40px;
  border-bottom: 1px solid $brdGrey;
}

.excel-bar2 {
  padding-left: 15px;
  height: 35px;
  line-height: 30px;
  border-bottom: 1px solid $brdGrey;
  background-color: $bgWhite;
  color: $fGrey;

  strong {
    color: $fBrown;
    font-weight: 700;
  }

  span {
    color: $fBlue;
    font-weight: 400;
  }

  em {
    color: #aaa;
  }
}

article {
  header {
    font-weight: 800;
    color: #4e4e4e;

    h4 {
      margin-top: 0;
      img {
        position: relative;
        top: -2px;
      }
    }
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      background: url(/images/icons/dot_list.png) 0px 9px no-repeat;
      padding-left: 15px;
      line-height: 1.8em;

      a > i.glyphicon {
        display: none;
      }
      a:hover {
        text-decoration: none;

        & > i.glyphicon {
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .flex-container {
    display: block;
  }
  .flex-cell {
    display: block;
    width: 100%;
  }
}
