html, body {
  height: 100%;
  margin: 0;
}

.main-container, .ember-view {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.sidebar {
  background-color: $bgWhite;
  width: 250px;
}

.main-content {
  padding: 7px;
  background-color: $bgGrey;
  -webkit-flex: 1;
  flex:1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-cell {
  width: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .bounding-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 7px;
    padding: 14px;
    background-color: $bgWhite;
    border: 1px solid $brdGrey;
    border-radius: 3px;
    -webkit-flex: 1;
    flex: 1;
  }
}

@media (max-width: $screen-xs-max) {
  .flex-container {
    display: block;
  }
  .flex-cell {
    display: block;
    width: 100%;
  }
}
