// 1. COLORS

// 1.1 Background colors
$bgBrown:   #231f1b !default;
$bgGrey:    #f0f2f5 !default;
$bgWhite:   #ffffff !default;
$bgOrange:  #ee6c3e !default;
$bgIcon:    #e2e7ed !default;

// 1.2 Font colors
$fOrange:   $bgOrange !default;
$fWhite:    $bgWhite !default;
$fGrey:     #4e4e4e !default;
$fBrown:    #b3a69a !default;

// 1.3 Border colors
$brdGrey:    #cacfd0 !default;
$brdBrown:   #575450 !default;
$brdOrange:  #d6512c !default;
