<div class="flex-container">
    <div class="flex-cell"><div class="bounding-box">
        <h4>FILTER ({{#link-to 'project' 'filter'}}FullScreen{{/link-to}})</h4>
        <p>lorem</p>
        {{#link-to 'spreadsheet' 'after'}}AFTER{{/link-to}}
    </div></div>
    <div class="flex-cell"><div class="bounding-box">
        <h4>test 2</h4>
        <p>lorem</p>
    </div></div>
    <div class="flex-cell"><div class="bounding-box">
        <h4>test 3</h4>
        <p>lorem</p>
    </div></div>
    <div class="flex-cell"><div class="bounding-box">
        <h4>test 4</h4>
        <p>lorem</p>
    </div></div>
</div>
