<div class="main-container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid navbar-main">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Project</a></li>
                    <li><a href="#">Spreadsheet</a></li>
                    <li class="inactive"><a href="#">Global Settings</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid navbar-sub">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">New</a></li>
                    <li><a href="#">Save</a></li>
                    <li><a href="#">Export</a></li>
                    <li><a href="#">Share</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tiles</a></li>
                            <li><a href="#">Filter</a></li>
                            <li><a href="#">Columns</a></li>
                            <li><a href="#">Rows</a></li>
                            <li><a href="#">Custom</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            Bottom sidebar
        </div>
    </nav>
    <div class="sidebar hidden-xs">
        STUDIES
        QUESTIONS
    </div>
    <div class="main-content">
        <div class="child">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
    <!--<div class="container-fluid" id="main">
        <div class="row" style="margin: 0;">
            <div>
                <div class="col-md-3">
                    <div class="well sidebar-nav">
                        <strong>Colors</strong>
                        <ul class="list-group">
                        {{#each item in controller}}
                            <li class="list-group-item">{{item}}</li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>-->
</div>
