<div class="flex-container">
    <div class="flex-cell"><div class="bounding-box">
        <h4>test</h4>
        <p>lorem</p>
    </div></div>
    <div class="flex-cell"><div class="bounding-box">
        <h4>test 2</h4>
        <p>lorem</p>
    </div></div>
    <div class="flex-cell"><div class="bounding-box">
        <h4>test 3</h4>
        <p>lorem</p>
    </div></div>
    <div class="flex-cell"><div class="bounding-box">
        <h4>test 4</h4>
        <p>lorem</p>
    </div></div>
</div>
